.cell.id-1, .next-piece-cell.id-1 {
	background-color: red;
  }
  
  .cell.id-2, .next-piece-cell.id-2 {
	background-color: orange;
  }
  
  .cell.id-3, .next-piece-cell.id-3 {
	background-color: yellow;
  }
  
  .cell.id-4, .next-piece-cell.id-4 {
	background-color: green;
  }
  .cell.id-5, .next-piece-cell.id-5 {
	background-color: blue;
  }

  .cell.id-6, .next-piece-cell.id-6 {
	background-color: purple;
  }

  .cell.id-7, .next-piece-cell.id-7 {
	background-color: pink;
  }
  

.game-container {
	width: 100%;
	height: 100%;
	display: flex;
  }
  .game-over-screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);  /* Fond semi-transparent */
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .board {
	width: 35%;
	height: 90%;
	background-color: #f0f0f0;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
	border: 1px solid #ddd;
  }
  
  .cell {
	border: 1px solid #ddd;
  }
  
  .filled {
	background-color: #6e1212;
  }

  .next-piece {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 10px;
	border: 2px solid #000;
	width: 100px;  /* ajustez en fonction de la taille souhaitée */
	height: 100px; /* ajustez en fonction de la taille souhaitée */
  }
  
  .next-piece-row {
	display: flex;
	justify-content: center;
  }
  
  .next-piece-cell {
	width: 20px;  /* ajustez en fonction de la taille souhaitée */
	height: 20px; /* ajustez en fonction de la taille souhaitée */
	margin: 1px;
	background-color: #fff;
	border: 1px solid #000;
  }
  
  .next-piece-cell.filled {
	background-color: #000;
  }
  

  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.75);
}

.message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.loading-animation {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin-top: 20px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

  
  .countdown {
	font-size: 48px;
  }

  .container {
	flex: 1; /* This will make the container take up the remaining space in the game-container */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin-bottom: 20px;
}

.ghost-board {
	flex: 1; /* This will make the ghost-board take up the remaining space */
	display: flex;
	flex-direction: column;
	align-items: center;
}


.opponent-name {
	font-size: 18px;
	margin-left: 18px;
	text-align: center;
}

.opponent-board {
	width: 35%;
	height: 100%;
	background-color: #d0d0d0;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(20, 1fr);
	border: 1px solid #bbb;
	margin-left: 10px;
}

  
  .opponent-board-cell {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #000;
  }
  
  .opponent-board-cell.filled {
	background-color: #999;
  }
  